.start {
    font-size: 40px;
    text-align: center;
    font-family: cursive;
    background-color: #06113C;
    color: aliceblue;
    margin-top: 0;
    padding: 15px;
}

.nav {
    width: 35%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #efac35;
    border-width: 1px;
    border-style: solid;
    border-color: #f7d69c;
    border-radius: 1em;
    margin-top: 100px;
    font-family: system-ui;
    padding: 20px;
}

#submit-val, #stock-code{
    padding: 14px 40px;
}

#stock-code {
    margin-bottom: 30px;
}

.content {
    height: 450px;
    margin-left: 40%;
    margin-top: -30%;
    padding: 10px;
    font-family: system-ui;
    overflow-y: auto;
}

#number-days, #forecast-val, #stock-val, #indicators-val {
    padding: 14px 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#number-days{
    margin-left: 15px;
}

#stock-val, #indicators-val {
    margin-left: 30px;
    background-color: #06113C;
    font-size: 20px;
    color: aliceblue;
    border: none;
    border-radius: 5%;
}

#submit-val, #forecast-val {
    background-color: #fff;
    border-color: #06113C;
    font-size: 17px;
    /* color: aliceblue; */
    /* border: none; */
    border-radius: 5%;
}
